<div class="container mt-5">
    <h2>Login</h2>
    <form (ngSubmit)="login()">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" id="username" class="form-control" [(ngModel)]="username" name="username" required>
      </div>
  
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" id="password" class="form-control" [(ngModel)]="password" name="password" required>
      </div>
  
      <button type="submit" class="btn btn-primary">Login</button>
      <button type="button" class="btn btn-secondary ms-2" (click)="goToRegister()">Register</button>
      <button type="button" class="btn btn-warning ms-2" (click)="goToReset()">Reset Password</button>

    </form>
  </div>
  