<div class="container">
    <h2 class="mt-3">Student Records</h2>
    <div class="d-flex justify-content-end mb-3">
        <button class="btn btn-outline-danger me-2" (click)="logout()">Logout</button>
        <button class="btn btn-primary" (click)="openAddStudent()">+ Add Student</button>
      </div>
  
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>File</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students; index as i">
          <td>{{ student.id }}</td>
          <td>{{ student.name }}</td>
          <td>{{ student.email }}</td>
          <td>
            <a *ngIf="student.file_path" [href]="'http://localhost/student-api/uploads/' + student.file_path" target="_blank">View</a>
            <span *ngIf="!student.file_path">No file</span>
          </td>
          
          <td>
            <button class="btn btn-sm btn-warning me-2" (click)="editStudent(student)">Update</button>
            <button class="btn btn-sm btn-danger" (click)="deleteStudent(student.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <nav>
        <ul class="pagination">
          <li class="page-item" [class.disabled]="page == 1">
            <button class="page-link" (click)="changePage(page - 1)">Previous</button>
          </li>
      
          <li class="page-item" *ngFor="let p of visiblePages" [class.active]="p === page">
            <button class="page-link" (click)="changePage(p)">{{ p }}</button>
          </li>
      
          <li class="page-item" [class.disabled]="page == totalPages.length">
            <button class="page-link" (click)="changePage(page + 1)">Next</button>
          </li>
        </ul>
      </nav>
      
      
  
    <!-- Add / Update Form Modal -->
    <div *ngIf="showForm" class="modal-backdrop">
      <div class="modal-content">
        <h4>{{ isEdit ? 'Update Student' : 'Add Student' }}</h4>
        <form (ngSubmit)="onSubmit()" #studentForm="ngForm">
          <input type="text" class="form-control mb-2" [(ngModel)]="form.name" name="name" required placeholder="Name">
          <input type="email" class="form-control mb-2" [(ngModel)]="form.email" name="email" required placeholder="Email">
  
          <input type="file" class="form-control mb-2" (change)="onFileChange($event)">

  
          <button type="submit" class="btn btn-success" [disabled]="studentForm.invalid">Submit</button>
          <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
        </form>
      </div>
    </div>
  </div>
  